In [ ]:
url = 'https://www.kaggle.com/aaronschlegel/austin-animal-center-shelter-outcomes-and'

In [57]:
import pandas as pd
import datetime

In [20]:
raw_data = pd.read_csv('aac_intakes_outcomes.csv')

In [21]:
raw_data.columns

Index(['age_upon_outcome', 'animal_id_outcome', 'date_of_birth',
       'outcome_subtype', 'outcome_type', 'sex_upon_outcome',
       'age_upon_outcome_(days)', 'age_upon_outcome_(years)',
       'age_upon_outcome_age_group', 'outcome_datetime', 'outcome_month',
       'outcome_year', 'outcome_monthyear', 'outcome_weekday', 'outcome_hour',
       'outcome_number', 'dob_year', 'dob_month', 'dob_monthyear',
       'age_upon_intake', 'animal_id_intake', 'animal_type', 'breed', 'color',
       'found_location', 'intake_condition', 'intake_type', 'sex_upon_intake',
       'count', 'age_upon_intake_(days)', 'age_upon_intake_(years)',
       'age_upon_intake_age_group', 'intake_datetime', 'intake_month',
       'intake_year', 'intake_monthyear', 'intake_weekday', 'intake_hour',
       'intake_number', 'time_in_shelter', 'time_in_shelter_days'],
      dtype='object')

In [23]:
raw_data['animal_type'].unique()

array(['Dog', 'Cat', 'Other', 'Bird'], dtype=object)

In [48]:
#only select dogs
austin_data = raw_data[raw_data['animal_type'] == 'Dog']
austin_data.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [51]:
new_columns = ['age_upon_outcome', 
       'outcome_subtype', 'outcome_type', 'sex_upon_outcome',
       'age_upon_outcome_(days)', 'age_upon_outcome_(years)',
       'outcome_datetime',
       'outcome_monthyear', 
        'dob_monthyear',
       'age_upon_intake',  'animal_type', 'breed', 'color',
       'found_location', 'intake_condition', 'intake_type', 'sex_upon_intake',
       'count', 'age_upon_intake_(days)', 'age_upon_intake_(years)',
        'intake_datetime', 
        'intake_monthyear', 
       'intake_number', 'time_in_shelter', 'time_in_shelter_days']

In [52]:

austin_data = austin_data.loc[:, new_columns]
austin_data.head()

,age_upon_outcome,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),outcome_datetime,outcome_monthyear,dob_monthyear,age_upon_intake,...,intake_type,sex_upon_intake,count,age_upon_intake_(days),age_upon_intake_(years),intake_datetime,intake_monthyear,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,NaN,Return to Owner,Neutered Male,3650,10.0,2017-12-07 14:07:00,2017-12,2017-12,10 years,...,Stray,Neutered Male,1,3650,10.0,2017-12-07 00:00:00,2017-12,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,NaN,Return to Owner,Neutered Male,2555,7.0,2014-12-20 16:35:00,2014-12,2014-12,7 years,...,Public Assist,Neutered Male,1,2555,7.0,2014-12-19 10:21:00,2014-12,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,NaN,Return to Owner,Neutered Male,2190,6.0,2014-03-08 17:10:00,2014-03,2014-03,6 years,...,Public Assist,Neutered Male,1,2190,6.0,2014-03-07 14:26:00,2014-03,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,Partner,Transfer,Neutered Male,3650,10.0,2014-04-07 15:12:00,2014-04,2014-04,10 years,...,Owner Surrender,Neutered Male,1,3650,10.0,2014-04-02 15:55:00,2014-04,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,NaN,Return to Owner,Neutered Male,5840,16.0,2013-11-16 11:54:00,2013-11,2013-11,16 years,...,Public Assist,Neutered Male,1,5840,16.0,2013-11-16 09:02:00,2013-11,1.0,0 days 02:52:00.000000000,0.119444

In [53]:
austin_data.shape

(45366, 25)

In [56]:
austin_data.dtypes

age_upon_outcome             object
outcome_subtype              object
outcome_type                 object
sex_upon_outcome             object
age_upon_outcome_(days)       int64
age_upon_outcome_(years)    float64
outcome_datetime             object
outcome_monthyear            object
dob_monthyear                object
age_upon_intake              object
animal_type                  object
breed                        object
color                        object
found_location               object
intake_condition             object
intake_type                  object
sex_upon_intake              object
count                         int64
age_upon_intake_(days)        int64
age_upon_intake_(years)     float64
intake_datetime              object
intake_monthyear             object
intake_number               float64
time_in_shelter              object
time_in_shelter_days        float64
dtype: object

In [60]:
#convert intake and outcome dates to datetime objects
austin_data[['outcome_datetime', 'intake_datetime']] = austin_data[['outcome_datetime', 'intake_datetime']].apply(pd.to_datetime, format = '%Y/%m/%d', errors = 'coerce')
austin_data.dtypes

age_upon_outcome                    object
outcome_subtype                     object
outcome_type                        object
sex_upon_outcome                    object
age_upon_outcome_(days)              int64
age_upon_outcome_(years)           float64
outcome_datetime            datetime64[ns]
outcome_monthyear                   object
dob_monthyear                       object
age_upon_intake                     object
animal_type                         object
breed                               object
color                               object
found_location                      object
intake_condition                    object
intake_type                         object
sex_upon_intake                     object
count                                int64
age_upon_intake_(days)               int64
age_upon_intake_(years)            float64
intake_datetime             datetime64[ns]
intake_monthyear                    object
intake_number                      float64
time_in_shelter                     object
time_in_shelter_days               float64
dtype: object