In [1]:
# https://www.kaggle.com/aaronschlegel/austin-animal-center-shelter-outcomes-and

In [2]:
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Only using data from one large shelter so that adoption policies and strategies are the same 
austin_raw_data = pd.read_csv('raw_data/aac_intakes_outcomes.csv')

# 1. Selecting columns and dogs as animal type

In [4]:
austin_raw_data.columns

Index(['age_upon_outcome', 'animal_id_outcome', 'date_of_birth',
       'outcome_subtype', 'outcome_type', 'sex_upon_outcome',
       'age_upon_outcome_(days)', 'age_upon_outcome_(years)',
       'age_upon_outcome_age_group', 'outcome_datetime', 'outcome_month',
       'outcome_year', 'outcome_monthyear', 'outcome_weekday', 'outcome_hour',
       'outcome_number', 'dob_year', 'dob_month', 'dob_monthyear',
       'age_upon_intake', 'animal_id_intake', 'animal_type', 'breed', 'color',
       'found_location', 'intake_condition', 'intake_type', 'sex_upon_intake',
       'count', 'age_upon_intake_(days)', 'age_upon_intake_(years)',
       'age_upon_intake_age_group', 'intake_datetime', 'intake_month',
       'intake_year', 'intake_monthyear', 'intake_weekday', 'intake_hour',
       'intake_number', 'time_in_shelter', 'time_in_shelter_days'],
      dtype='object')

In [5]:
#how many animal types are included?
austin_raw_data['animal_type'].unique()

array(['Dog', 'Cat', 'Other', 'Bird'], dtype=object)

In [6]:
#only select dogs
austin_data = austin_raw_data[austin_raw_data['animal_type'] == 'Dog']
austin_data.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [7]:
#drop redundant, irrelevant or columns missing many values 
new_columns = ['outcome_type', 'animal_id_intake',
        'age_upon_outcome_(years)',
       'outcome_datetime',
       'outcome_monthyear',  'animal_type', 'breed', 'color',
       'intake_condition', 'intake_type', 'sex_upon_outcome',
       'age_upon_intake_(years)',
        'intake_datetime', 
        'intake_monthyear', 
       'intake_number', 'time_in_shelter_days']

In [8]:
austin_data = austin_data.loc[:, new_columns]
austin_data.head()

,outcome_type,animal_id_intake,age_upon_outcome_(years),outcome_datetime,outcome_monthyear,animal_type,breed,color,intake_condition,intake_type,sex_upon_outcome,age_upon_intake_(years),intake_datetime,intake_monthyear,intake_number,time_in_shelter_days
0,Return to Owner,A006100,10.0,2017-12-07 14:07:00,2017-12,Dog,Spinone Italiano Mix,Yellow/White,Normal,Stray,Neutered Male,10.0,2017-12-07 00:00:00,2017-12,1.0,0.588194
1,Return to Owner,A006100,7.0,2014-12-20 16:35:00,2014-12,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,7.0,2014-12-19 10:21:00,2014-12,2.0,1.259722
2,Return to Owner,A006100,6.0,2014-03-08 17:10:00,2014-03,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,6.0,2014-03-07 14:26:00,2014-03,3.0,1.113889
3,Transfer,A047759,10.0,2014-04-07 15:12:00,2014-04,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,10.0,2014-04-02 15:55:00,2014-04,1.0,4.970139
4,Return to Owner,A134067,16.0,2013-11-16 11:54:00,2013-11,Dog,Shetland Sheepdog,Brown/White,Injured,Public Assist,Neutered Male,16.0,2013-11-16 09:02:00,2013-11,1.0,0.119444

In [9]:
austin_data.shape

(45366, 16)

# 2. Null values, data types, and value counts

In [10]:
#finding null values
austin_data.columns[austin_data.isna().any()]

Index(['outcome_type', 'sex_upon_outcome'], dtype='object')

In [11]:
austin_data.dtypes

outcome_type                 object
animal_id_intake             object
age_upon_outcome_(years)    float64
outcome_datetime             object
outcome_monthyear            object
animal_type                  object
breed                        object
color                        object
intake_condition             object
intake_type                  object
sex_upon_outcome             object
age_upon_intake_(years)     float64
intake_datetime              object
intake_monthyear             object
intake_number               float64
time_in_shelter_days        float64
dtype: object

In [12]:
austin_data['age_upon_outcome_(years)'].unique()

array([1.00000000e+01, 7.00000000e+00, 6.00000000e+00, 1.60000000e+01,
       1.50000000e+01, 1.80000000e+01, 1.40000000e+01, 1.70000000e+01,
       1.30000000e+01, 1.20000000e+01, 1.10000000e+01, 9.00000000e+00,
       8.00000000e+00, 3.00000000e+00, 1.90000000e+01, 5.00000000e+00,
       2.00000000e+01, 4.00000000e+00, 1.00000000e+00, 9.04109589e-01,
       8.21917808e-01, 2.00000000e+00, 7.39726027e-01, 5.75342466e-01,
       6.57534247e-01, 4.10958904e-01, 4.93150685e-01, 3.28767123e-01,
       1.64383562e-01, 2.46575342e-01, 8.21917808e-02, 7.67123288e-02,
       1.91780822e-02, 0.00000000e+00, 9.58904110e-02, 5.47945205e-03,
       3.83561644e-02, 2.73972603e-03, 1.36986301e-02, 1.64383562e-02,
       5.75342466e-02, 1.09589041e-02, 8.21917808e-03])

In [13]:
#changing age to int
#austin_data[['age_upon_outcome_(years)', 'age_upon_intake_(years)']] = austin_data[['age_upon_outcome_(years)', 'age_upon_intake_(years)']].astype(int)

In [14]:
austin_data['outcome_type'].value_counts()

Adoption           20581
Return to Owner    13273
Transfer            9697
Euthanasia          1502
Rto-Adopt            143
Died                 142
Missing               16
Disposal              10
Name: outcome_type, dtype: int64

In [15]:
#dropping everything but adoption to avoid bias
austin_data = austin_raw_data[austin_raw_data['outcome_type'] == 'Adoption']

In [16]:
#checking out breed column
austin_data['breed'].nunique()

1521

In [17]:
#the majority are followed by 'mix' 
austin_data['breed'].value_counts().head(30)

Domestic Shorthair Mix       9865
Labrador Retriever Mix       2368
Pit Bull Mix                 2324
Chihuahua Shorthair Mix      2270
Domestic Medium Hair Mix     1037
German Shepherd Mix           922
Australian Cattle Dog Mix     607
Domestic Longhair Mix         578
Siamese Mix                   455
Dachshund Mix                 390
Border Collie Mix             352
Boxer Mix                     306
Miniature Poodle Mix          275
Catahoula Mix                 250
Australian Shepherd Mix       219
Jack Russell Terrier Mix      215
Cairn Terrier Mix             209
Staffordshire Mix             206
Rat Terrier Mix               205
Pointer Mix                   197
Chihuahua Longhair Mix        188
Siberian Husky Mix            187
Yorkshire Terrier Mix         182
Domestic Shorthair            179
Beagle Mix                    173
Miniature Schnauzer Mix       172
Black Mouth Cur Mix           154
Anatol Shepherd Mix           146
Australian Kelpie Mix         141
Great Pyrenees Mix            139
Name: breed, dtype: int64

In [18]:
#taking only the first breed listed 
austin_data.loc[:,'breed'] = austin_data.loc[:,'breed'].astype(str)
austin_data.loc[:,'new_breed'] = austin_data.loc[:,'breed'].str.split("/").str[0]
austin_data.loc[:,'new_breed'] = austin_data.loc[:,'new_breed'].str.replace(' Mix', '')
austin_data['new_breed'].nunique()

/home/amanda/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/home/amanda/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

276

In [19]:
austin_data.groupby('new_breed')['animal_id_intake'].nunique().sort_values(ascending=False).head(20)

new_breed
Domestic Shorthair       9550
Labrador Retriever       2752
Chihuahua Shorthair      2542
Pit Bull                 2156
German Shepherd          1072
Domestic Medium Hair     1057
Australian Cattle Dog     706
Dachshund                 580
Domestic Longhair         572
Siamese                   466
Border Collie             437
Boxer                     378
Miniature Poodle          326
Catahoula                 293
Jack Russell Terrier      287
Australian Shepherd       273
Yorkshire Terrier         255
Beagle                    250
Cairn Terrier             245
Rat Terrier               240
Name: animal_id_intake, dtype: int64

In [20]:
#checking out colors
austin_data['color'].value_counts()

Black/White              3738
Black                    2692
Brown Tabby              1871
Tan/White                1163
Brown/White              1110
                         ...
Blue Smoke/Gray             1
Blue Tabby/Blue Cream       1
Blue/Calico                 1
Chocolate/Black             1
Tortie Point/Blue           1
Name: color, Length: 390, dtype: int64

In [21]:
#taking only the first color listed assuming that is the primary color
austin_data.loc[:,'color'] = austin_data.loc[:,'color'].astype(str)
austin_data.loc[:,'new_color'] = austin_data.loc[:,'color'].str.split("/").str[0]

print(austin_data['new_color'].nunique(), austin_data['color'].nunique())

56 390

In [22]:
austin_data.count()

age_upon_outcome              33594
animal_id_outcome             33594
date_of_birth                 33594
outcome_subtype                5841
outcome_type                  33594
sex_upon_outcome              33594
age_upon_outcome_(days)       33594
age_upon_outcome_(years)      33594
age_upon_outcome_age_group    33594
outcome_datetime              33594
outcome_month                 33594
outcome_year                  33594
outcome_monthyear             33594
outcome_weekday               33594
outcome_hour                  33594
outcome_number                33594
dob_year                      33594
dob_month                     33594
dob_monthyear                 33594
age_upon_intake               33594
animal_id_intake              33594
animal_type                   33594
breed                         33594
color                         33594
found_location                33594
intake_condition              33594
intake_type                   33594
sex_upon_intake               33594
count                         33594
age_upon_intake_(days)        33594
age_upon_intake_(years)       33594
age_upon_intake_age_group     33594
intake_datetime               33594
intake_month                  33594
intake_year                   33594
intake_monthyear              33594
intake_weekday                33594
intake_hour                   33594
intake_number                 33594
time_in_shelter               33594
time_in_shelter_days          33594
new_breed                     33594
new_color                     33594
dtype: int64

# 4. Convert str variables to int

In [23]:
#create function to form dictonary to create int variables
def create_dict(items):
        return {v: i for i, v in enumerate(items, 0)}

In [24]:
#create variable to apply function to
condition = df['intake_condition'].unique().tolist()

NameError: name 'df' is not defined

In [ ]:
#make dict
create_dict(condition)

In [ ]:
#map to new column
df['intake_cond_int']=df['intake_condition'].map(create_dict(condition))
df.head()

In [ ]:
#intake type to int
intake_type = df['intake_type'].unique().tolist()
create_dict(intake_type)
df['intake_type_int']=df['intake_type'].map(create_dict(intake_type))
df.head()

In [ ]:
df['sex_upon_outcome'].unique()

In [ ]:
sex_upon_outcome = df['sex_upon_outcome'].unique().tolist()
create_dict(sex_upon_outcome)
df['sex_upon_outcome_int']=df['sex_upon_outcome'].map(create_dict(sex_upon_outcome))
df.head()

In [ ]:
_ = sns.histplot( x=  df['age_upon_outcome_(years)'])
plt.figure(figsize=(8, 4))
plt.show()

In [ ]:
df.shape

In [ ]:
#animal IDs have duplicates.. are they the same dog or is this a mistake?
duplicates = df[df['animal_id_intake'].duplicated(keep=False)==True]
duplicates.head() #they are the same dog

In [ ]:
#group colors that are the same (brown = chocolate = liver, yellow = fawn, etc.)
df['new_color'] = df['new_color'].astype(str)
df['new_color'] = df['new_color'].str.replace('Chocolate', 'Brown')
df['new_color'] = df['new_color'].str.replace('Liver', 'Brown')
df['new_color'] = df['new_color'].str.replace('Fawn', 'Yellow')
df['new_color'] = df['new_color'].str.replace('Silver', 'Gray')
df['new_color'] = df['new_color'].str.replace('Cream', 'White')

In [ ]:
#drop colors that make up less than 1% of the data

colors = ['Black', 'Blue', 'Brown', 'Brown Brindle', 'Buff', 'Gray', 'Red', 'Sable', 'Tan', 'Tricolor', 'White', 'Yellow']
df = df[df['new_color'].isin(colors)]
df['new_color'].unique() #all the colors left

In [ ]:
#taking 80% of the data by dropping the least common breeds to reduce noise(drop approx 5,840 rows)
print(df['new_breed'].value_counts().sort_values(ascending=False).head(27).sum())#top 27 represent 80%
top27 = df['new_breed'].value_counts().sort_values(ascending=False).head(27).index.tolist()
df = df[df['new_breed'].isin(top27)] #new df 
df.shape

In [ ]:
#drop original color and breed columns
df = df.drop(columns=['breed' ,'color', 'animal_id_intake', 'intake_number'])

In [ ]:
#breed and color coulmns to int (for visualizations)
new_breed_int = df['new_breed'].unique().tolist()
create_dict(new_breed_int)
df['new_breed_int']=df['new_breed'].map(create_dict(new_breed_int))

new_color_int = df['new_color'].unique().tolist()
create_dict(new_color_int)
df['new_color_int']=df['new_color'].map(create_dict(new_color_int))
df.head()

In [ ]:
df.columns

In [ ]:
#heatmap looking for any correlated data
plot_data = df[['new_breed_int', 'new_color_int','age_upon_outcome_(years)', 'intake_cond_int', 'time_in_shelter_days']]
sns.set_theme(style="ticks")

sns.heatmap(plot_data.corr(), annot=True) 
#looks like age and time in shelter have slight correlation
#breed and color also have a slight correlation--to be expected

In [ ]:
sns.scatterplot(x = df['age_upon_outcome_(years)'], y=df['time_in_shelter_days'])

In [ ]:
plot_data = df[['outcome_type', 'new_color_int', 'new_breed_int','age_upon_outcome_(years)', 'time_in_shelter_days']]
sns.set_theme(style="ticks")

sns.pairplot(plot_data)

In [ ]:
#create dummy variables
df = pd.get_dummies(df, columns=['new_breed', 'new_color'], prefix=['breed', 'color'])

In [ ]:
df.columns

In [ ]:
df['age_upon_intake_(years)'].value_counts()

In [ ]:
a = df[df['outcome_type'] == 'Adoption']['age_upon_outcome_(years)']
data = df[df['outcome_type'] == 'Adoption'] ['time_in_shelter_days']
plt.plot(a, data, marker = '.', linestyle='none')
plt.xlabel('age')
plt.ylabel('time in shelter')
plt.show()

In [ ]:
sns.histplot(data=df, x = 'age_upon_outcome_(years)')

In [ ]:
df[['intake_type_int', 'sex_upon_outcome_int', 'outcome_type_int']].head()

In [ ]:
df.to_csv('dog_adoption2')